<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Cani-ya</title>
  </head>
  <body>
    <div
    class="container-flex contenedor mt-0 mb-1 pb-3 bg-dark text-white"
    id="container1"
  >
    <div class="row pt-3 pl-2">
      <div class="col-2">
        <button class="btn btn-light rounded-circle" id="modonoche">
          <i class="fas fa-moon"></i>
        </button>
      </div>
      <div class="col-10">
            <a href="/index.html" class="btn btn-secondary">REVISTAS</a>
            <a class="btn btn-secondary active" href="/views/newspapers.html">DIARIOS</a>
            <a class="btn btn-secondary" href="/views/config.html">CONFIGURACION</a>
        </div>
      </div>
    </div>
  </div>

  

  <div class="container-flex mt-1 mb-1 ">
    <div class="row mt-2">

        <div class="col-4 col-lg-3 mt-1 p-0 pt-1 bg-dark text-white sidebar">
            <div class="col-12 mt-2">
                <form id="newDateForm">
                    <div class="form-group row justify-content-center">
                    <input
                        type="date"
                        class="form-control col-8 pill mr-1"
                        id="newDate"
                    />
                    <button type="submit" class="btn btn-primary rounded-circle">
                        <i class="fas fa-plus"></i>
                    </button>
                    </div>
                </form>
            </div>
            <div class="col-12 row p-0 m-0" id="sidebar">
              
            </div>
        </div>

        <div class="col-12 col-sm-8 col-xl-4 p-1" id="tableSection">

        </div>
    </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/config.js"></script>
    <script src="../js/diarios/view.js"></script>
    <script src="../js/revistas/view.js"></script>
    <script src="../js/diarios/controller.js"></script>
    <script src="../js/diarios/index.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>