
@mixin skill-option($gradient, $text) {
	background: $gradient;
	h3 {
		color: $text;
	}
}

.skills {
	& > div {
		width: 95%;
		margin: 60px auto;
		padding: 6px;
		border-radius: 10px;
		max-width: 450px;
	}

	.ux-ui {
		@include skill-option($green-gradient, $green-text);
	}

	.frontend {
		@include skill-option($light-blue-gradient, $light-blue-text);
	}

	.backend {
		@include skill-option($purple-gradient, $light-purple-text);
	}

	.mobile {
		@include skill-option($red-gradient, $red-text);
	}

	.skill-content {
		background: $main-bg;
		border-radius: 10px;
		text-align: center;
		height: 100%;

		p {
			font-size: 20px;
			line-height: 24px;
			text-align: justify;
			color: $bone-text;
			padding: 30px 50px 70px 50px;
		}

		img {
			margin: 60px auto 30px auto;
		}

		h3 {
			font-weight: 500;
			font-size: 28px;
			line-height: 34px;
		}
	}

	@include lg {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 80px;
		& > div {
			width: 40%;
			margin: 60px auto;
			padding: 6px;
			border-radius: 10px;
		}
	}

	@include xl {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 180px;
		& > div {
			width: 20%;
			margin: 60px auto;
			padding: 6px;
			border-radius: 10px;
		}
	}

	@include xxl {
		margin-left: 5%;
		margin-right: 5%;
		& > div {
			width: 20%;
		}
	}
}