
.mobile-side-buttons {
	transition: 0.5s ease;
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 50px;
	left: -50px;
	height: 100%;

	div {
		padding: 50px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #2c313a;
		width: 50px;
		height: 415px;
		border-bottom-right-radius: 10px;
		img {
			width: 30px;
		}
	}

	button {
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background: #495162;
		border: 0;
		box-shadow: none;
		height: 55px;
		width: 20px;
		img {
			content: url('../assets/double-arrow-right.svg');
		}
	}

	&.open {
		left: 0 !important;
		button {
			img {
				content: url('../assets/double-arrow-left.svg');
			}
		}
	}

	@include xl {
		top: 90px;
		left: 0;
		div {
			width: 70px;
			height: 100%;
			border-bottom-right-radius: 0;
			justify-content: flex-start;
			padding-top: 37.5px;
			img {
				width: 40px;
				margin-top: 12.5px;
				margin-bottom: 12.5px;
			}
		}
		button {
			display: none;
		}
	}
}
