// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1740px;

// Extra Large tablets and desktops
$screen-xxl-min: 2100px;

// Large devices
@mixin lg {
	@media (min-width: $screen-lg-min) {
		@content;
	}
}

// Full width page
@mixin xl {
	@media (min-width: $screen-xl-min) {
		@content;
	}
}

// Ultra wide
@mixin xxl {
	@media (min-width: $screen-xxl-min) {
		@content;
	}
}
