/* -------------- Background -------------- */

$main-bg: #0c0d10;
$grey-400-bg: #495162;

/* -------------- Text -------------- */

$white-text: #ffffff;
$pupure-text: #8a54de;
$bone-text: #f3f4f6;
$darker-bone-text: #d7dae0;

$green-text: #1ed760;
$light-blue-text: #2ef0d2;
$light-purple-text: #d55fde;
$red-text: #ef4647;

/* -------------- Gradients -------------- */

$green-gradient: linear-gradient(153.49deg, rgba(30, 215, 96, 0.68) 0%, rgba(51, 56, 214, 0.8) 98.94%);
$light-blue-gradient: linear-gradient(153.85deg, rgba(46, 240, 210, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
$purple-gradient: linear-gradient(153.85deg, rgba(213, 95, 222, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
$red-gradient: linear-gradient(153.85deg, rgba(239, 70, 71, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
