#pointer-circle-inner {
	position: absolute;
	background: white;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin-top: 3.5px;
	margin-left: 3.5px;
}
#pointer-circle-outer {
	position: absolute;
	background: transparent;
	border: 1px solid white;
	border-radius: 50%;
	height: 18px;
	width: 18px;
	margin-top: 0em;
	margin-left: 0em;

}

@keyframes animExpandCursor {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animShrinkCursor {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}

.expand {
    animation: animExpandCursor .5s forwards;
}

.shrink {
    animation: animShrinkCursor .5s forwards;
}