/* -------------- Background -------------- */
/* -------------- Text -------------- */
/* -------------- Gradients -------------- */
/* -------------- Fonts -------------- */
/* -------------- Font Stacks -------------- */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0c0d10;
  color: #f3f4f6;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 17px;
  padding-right: 10px;
  background-color: #495162;
  height: 50px;
}

nav .page-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.025em;
  color: #d7dae0;
}

header h1 {
  width: 230px;
  margin: 120px auto 30px auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  font-weight: 600;
}

header h3 {
  width: 230px;
  margin: 0 auto 180px auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

header .down-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caniya {
  text-align: center;
  margin-top: 140px;
}

.caniya h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.345em;
  text-transform: uppercase;
  color: #ffffff;
}

.caniya h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 15px;
  color: #8a54de;
}

.caniya p {
  padding: 15px;
  font-size: 15px;
  line-height: 18px;
  color: #f3f4f6;
}

.caniya img {
  margin-top: 40px;
  width: 95%;
  height: 170px;
}

.skills > div {
  width: 95%;
  margin: 60px auto;
  padding: 6px;
  border-radius: 10px;
}

.skills .ux-ui {
  background: linear-gradient(153.49deg, rgba(30, 215, 96, 0.68) 0%, rgba(51, 56, 214, 0.8) 98.94%);
}

.skills .ux-ui h3 {
  color: #1ed760;
}

.skills .frontend {
  background: linear-gradient(153.85deg, rgba(46, 240, 210, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
}

.skills .frontend h3 {
  color: #2ef0d2;
}

.skills .backend {
  background: linear-gradient(153.85deg, rgba(213, 95, 222, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
}

.skills .backend h3 {
  color: #d55fde;
}

.skills .mobile {
  background: linear-gradient(153.85deg, rgba(239, 70, 71, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
}

.skills .mobile h3 {
  color: #ef4647;
}

.skills .skill-content {
  background: #0c0d10;
  border-radius: 10px;
  text-align: center;
}

.skills .skill-content p {
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: #f3f4f6;
  padding: 30px 50px 70px 50px;
}

.skills .skill-content img {
  margin: 60px auto 30px auto;
}

.skills .skill-content h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.gearthlogic-experience {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.gearthlogic-experience h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.345em;
  text-transform: uppercase;
  color: #ffffff;
}

.gearthlogic-experience .proyect {
  margin-top: 60px;
}

.gearthlogic-experience .proyect h5 {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.245em;
  text-transform: uppercase;
  color: #ffffff;
}

.gearthlogic-experience .proyect h6 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a54de;
  margin-bottom: 32px;
}

.gearthlogic-experience .proyect p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #f3f4f6;
  margin-bottom: 70px;
}

.gearthlogic-experience .proyect .proyect-icon {
  margin: 0 auto;
  width: 284.77px;
  height: 260px;
  border-radius: 10px;
  padding: 4px;
}

.gearthlogic-experience .proyect .proyect-icon.selected-border {
  background: linear-gradient(153.85deg, rgba(213, 95, 222, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
}

.gearthlogic-experience .proyect .proyect-icon div {
  background-color: #f3f4f6;
  border-radius: 10px;
  height: 100%;
}

.gearthlogic-experience .proyect .proyect-icon div img {
  height: 170px;
  width: 190px;
}

.previous-work-experience {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.previous-work-experience h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.345em;
  text-transform: uppercase;
  color: #ffffff;
}

.previous-work-experience div {
  margin-top: 60px;
}

.previous-work-experience div h5 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.245em;
  text-transform: uppercase;
  color: #ffffff;
}

.previous-work-experience div h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a54de;
  margin-bottom: 20px;
}

.previous-work-experience div p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #f3f4f6;
  margin-bottom: 70px;
}

.about-me {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.about-me h3 {
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: #ffffff;
}

.about-me h5 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.245em;
  text-transform: uppercase;
  color: #ffffff;
}

.about-me h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a54de;
  margin-bottom: 20px;
}

.about-me p {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #f3f4f6;
  margin-bottom: 70px;
}

.contact-me {
  margin-top: 120px;
  margin-bottom: 120px;
}

.contact-me h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.225em;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-me h3 a {
  color: #ef4647;
  text-decoration: underline;
}

footer {
  height: 100px;
  padding: 30px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #495162;
}

footer .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .left-section h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

footer .left-section ul {
  list-style: none;
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .icons img {
  padding-left: 5px;
  padding-right: 5px;
}
/*# sourceMappingURL=index.css.map */