/*--------- Base ---------*/
/* -------------- Background -------------- */
/* -------------- Text -------------- */
/* -------------- Gradients -------------- */
/* -------------- Fonts -------------- */
/* -------------- Font Stacks -------------- */
#pointer-circle-inner {
  position: absolute;
  background: white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-top: 3.5px;
  margin-left: 3.5px;
}

#pointer-circle-outer {
  position: absolute;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-top: 0em;
  margin-left: 0em;
}

@-webkit-keyframes animExpandCursor {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animExpandCursor {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animShrinkCursor {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animShrinkCursor {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.expand {
  -webkit-animation: animExpandCursor .5s forwards;
          animation: animExpandCursor .5s forwards;
}

.shrink {
  -webkit-animation: animShrinkCursor .5s forwards;
          animation: animShrinkCursor .5s forwards;
}

.disappear {
  display: none;
}

/*--------- Navigation ---------*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 17px;
  padding-right: 10px;
  background-color: #495162;
  height: 50px;
}

nav .page-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.025em;
  color: #d7dae0;
}

nav ul li:hover {
  text-decoration: underline;
}

@media (min-width: 1740px) {
  nav {
    padding-left: 70px;
    padding-right: 100px;
    height: 90px;
  }
  nav .page-title {
    font-size: 30px;
    line-height: 35px;
  }
  nav ul li a {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.025em;
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer {
  height: 100px;
  padding: 30px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #495162;
}

footer .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .left-section h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

footer .left-section ul {
  list-style: none;
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

footer .left-section ul li a {
  text-decoration: none;
  color: #ffffff;
}

footer .left-section ul li a:hover {
  text-decoration: underline;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .icons img {
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 1740px) {
  footer {
    padding: 0;
    padding-left: 160px;
    padding-right: 140px;
  }
  footer .left-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .left-section h6 {
    font-size: 30px;
    line-height: 35px;
    padding-right: 60px;
  }
  footer .left-section ul {
    font-size: 18px;
    line-height: 22px;
  }
  footer .left-section ul li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  footer .icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .icons img {
    width: 40px;
    height: 40px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  footer .icons img:hover {
    width: 50px;
    height: 50px;
  }
}

.mobile-side-buttons {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 50px;
  left: -50px;
  height: 100%;
}

.mobile-side-buttons div {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #2c313a;
  width: 50px;
  height: 415px;
  border-bottom-right-radius: 10px;
}

.mobile-side-buttons div img {
  width: 30px;
}

.mobile-side-buttons button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #495162;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 55px;
  width: 20px;
}

.mobile-side-buttons button img {
  content: url("../assets/double-arrow-right.svg");
}

.mobile-side-buttons.open {
  left: 0 !important;
}

.mobile-side-buttons.open button img {
  content: url("../assets/double-arrow-left.svg");
}

@media (min-width: 1740px) {
  .mobile-side-buttons {
    -webkit-transition: none;
    transition: none;
    top: 90px;
    left: 0;
  }
  .mobile-side-buttons div {
    width: 70px;
    height: 100%;
    border-bottom-right-radius: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 37.5px;
  }
  .mobile-side-buttons div img {
    width: 40px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }
  .mobile-side-buttons button {
    display: none;
  }
}

/*--------- Sections ---------*/
header h1 {
  width: 230px;
  margin: 120px auto 30px auto;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  font-weight: 600;
}

header h3 {
  width: 230px;
  margin: 0 auto 180px auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

header .down-indicator {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes animated-icon-anim {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(0, 16px);
            transform: translate(0, 16px);
  }
}

@keyframes animated-icon-anim {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(0, 16px);
            transform: translate(0, 16px);
  }
}

header .down-indicator .animated-icon {
  animation: animated-icon-anim 0.8s infinite alternate-reverse;
}

header .hero {
  display: none;
}

@media (min-width: 992px) {
  header .whole-hero {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  header .whole-hero .titles {
    width: 50%;
  }
  header .whole-hero .titles h1 {
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.26em;
    margin: 230px 0 20px 40px;
    width: 520px;
    text-align: left;
  }
  header .whole-hero .titles h3 {
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-left: 40px;
  }
  header .whole-hero .hero {
    background-color: #2C313A;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .down-indicator {
    top: -100px;
  }
}

@media (min-width: 1740px) {
  header .whole-hero {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  header .whole-hero .titles {
    width: 50%;
  }
  header .whole-hero .titles h1 {
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.26em;
    margin: 330px 0 20px 160px;
    width: 520px;
    text-align: left;
  }
  header .whole-hero .titles h3 {
    font-size: 34px;
    line-height: 43px;
    width: 100%;
    text-align: left;
    margin-left: 160px;
  }
  header .whole-hero .hero {
    background-color: #2C313A;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 100%;
  }
  header .down-indicator {
    top: -200px;
  }
}

.caniya {
  text-align: center;
  margin-top: 140px;
}

.caniya h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.345em;
  text-transform: uppercase;
  color: #ffffff;
}

.caniya h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 15px;
  color: #8a54de;
}

.caniya p {
  padding: 15px;
  font-size: 15px;
  line-height: 18px;
  color: #f3f4f6;
  max-width: 450px;
  margin: 0 auto;
}

.caniya img {
  max-width: 450px;
  margin-top: 40px;
  width: 95%;
  height: 170px;
}

@media (min-width: 992px) {
  .caniya {
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .caniya div {
    text-align: left;
    width: 50%;
    height: 100%;
    margin-left: 40px;
  }
  .caniya div h3 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.345em;
  }
  .caniya div h4 {
    font-size: 20px;
  }
  .caniya div p {
    max-width: 400px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin: 0;
    padding: 0;
    padding-top: 14px;
  }
  .caniya img {
    max-width: 45%;
    margin-top: 0;
  }
}

@media (min-width: 1740px) {
  .caniya {
    margin-top: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .caniya div {
    text-align: left;
    width: 50%;
    height: 100%;
    margin-left: 160px;
  }
  .caniya div h3 {
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.345em;
  }
  .caniya div h4 {
    font-size: 28px;
    line-height: 34px;
  }
  .caniya div p {
    max-width: 650px;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    margin: 0;
    padding: 0;
    padding-top: 14px;
  }
  .caniya img {
    max-width: 910px;
    height: 400px;
    margin-top: 0;
  }
}

@media (min-width: 2100px) {
  .caniya {
    padding-right: 100px;
  }
  .caniya div p {
    max-width: 80%;
  }
}

.skills > div {
  width: 95%;
  margin: 60px auto;
  padding: 6px;
  border-radius: 10px;
  max-width: 450px;
}

.skills .ux-ui {
  background: linear-gradient(153.49deg, rgba(30, 215, 96, 0.68) 0%, rgba(51, 56, 214, 0.8) 98.94%);
}

.skills .ux-ui h3 {
  color: #1ed760;
}

.skills .frontend {
  background: linear-gradient(153.85deg, rgba(46, 240, 210, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
}

.skills .frontend h3 {
  color: #2ef0d2;
}

.skills .backend {
  background: linear-gradient(153.85deg, rgba(213, 95, 222, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
}

.skills .backend h3 {
  color: #d55fde;
}

.skills .mobile {
  background: linear-gradient(153.85deg, rgba(239, 70, 71, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
}

.skills .mobile h3 {
  color: #ef4647;
}

.skills .skill-content {
  background: #0c0d10;
  border-radius: 10px;
  text-align: center;
  height: 100%;
}

.skills .skill-content p {
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: #f3f4f6;
  padding: 30px 50px 70px 50px;
}

.skills .skill-content img {
  margin: 60px auto 30px auto;
}

.skills .skill-content h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

@media (min-width: 992px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 80px;
  }
  .skills > div {
    width: 40%;
    margin: 60px auto;
    padding: 6px;
    border-radius: 10px;
  }
}

@media (min-width: 1740px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 180px;
  }
  .skills > div {
    width: 20%;
    margin: 60px auto;
    padding: 6px;
    border-radius: 10px;
  }
}

@media (min-width: 2100px) {
  .skills {
    margin-left: 5%;
    margin-right: 5%;
  }
  .skills > div {
    width: 20%;
  }
}

.gearthlogic-experience {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.gearthlogic-experience h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.345em;
  text-transform: uppercase;
  color: #ffffff;
}

.gearthlogic-experience .proyect {
  display: none;
  margin-top: 60px;
}

.gearthlogic-experience .proyect h5 {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.245em;
  text-transform: uppercase;
  color: #ffffff;
}

.gearthlogic-experience .proyect h6 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a54de;
  margin-bottom: 32px;
}

.gearthlogic-experience .proyect p {
  margin: 0 auto;
  max-width: 450px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #f3f4f6;
}

.gearthlogic-experience .proyect .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  margin-top: 30px;
}

.gearthlogic-experience .proyect .links a {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #f3f4f6;
  margin-right: 20px;
  text-decoration: underline;
}

.gearthlogic-experience .proyect .links a:hover {
  text-decoration: none;
}

.gearthlogic-experience .proyect .proyect-icon {
  margin: 0 auto;
  width: 254.77px;
  height: 230px;
  border-radius: 10px;
  padding: 4px;
}

.gearthlogic-experience .proyect .proyect-icon.selected-border {
  background: linear-gradient(153.85deg, rgba(213, 95, 222, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
}

.gearthlogic-experience .proyect .proyect-icon div {
  background-color: #f3f4f6;
  border-radius: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gearthlogic-experience .proyect .proyect-icon div img {
  width: 75%;
  max-height: 90%;
}

.gearthlogic-experience .proyect.selected {
  display: block;
}

.gearthlogic-experience .mobile-side-selector {
  position: relative;
  z-index: 10;
}

.gearthlogic-experience .mobile-side-selector .selector-content {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: -60px;
}

.gearthlogic-experience .mobile-side-selector .selector-content div {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #2c313a;
  width: 50px;
  height: 415px;
  border-bottom-right-radius: 10px;
}

.gearthlogic-experience .mobile-side-selector .selector-content div button {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.gearthlogic-experience .mobile-side-selector .selector-content div button img {
  width: 30px;
}

.gearthlogic-experience .mobile-side-selector .selector-content .open-button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #495162;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 55px;
  width: 20px;
}

.gearthlogic-experience .mobile-side-selector .selector-content .open-button img {
  content: url("../assets/double-arrow-right.svg");
}

.gearthlogic-experience .mobile-side-selector .selector-content.open {
  left: -10px !important;
}

.gearthlogic-experience .mobile-side-selector .selector-content.open .open-button img {
  content: url("../assets/double-arrow-left.svg");
}

.gearthlogic-experience .desktop-selector {
  display: none;
}

@media (min-width: 992px) {
  .gearthlogic-experience .gearth-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 60px;
  }
  .gearthlogic-experience h3 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.345em;
  }
  .gearthlogic-experience .mobile-side-selector {
    display: none;
  }
  .gearthlogic-experience .desktop-selector {
    width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .gearthlogic-experience .desktop-selector .icon {
    aspect-ratio: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 6px;
  }
  .gearthlogic-experience .desktop-selector .icon.selected {
    background: linear-gradient(153.85deg, rgba(213, 95, 222, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
    border-radius: 10px;
  }
  .gearthlogic-experience .desktop-selector .icon.selected div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f3f4f6;
    border-radius: 10px;
  }
  .gearthlogic-experience .desktop-selector .icon.selected img {
    -webkit-filter: none;
            filter: none;
  }
  .gearthlogic-experience .desktop-selector .icon img {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    width: 100px;
  }
  .gearthlogic-experience .desktop-selector .icon:hover img {
    -webkit-filter: none;
            filter: none;
    width: 80px;
  }
  .gearthlogic-experience .proyect.selected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
  .gearthlogic-experience .proyect .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
  }
  .gearthlogic-experience .proyect .content h5 {
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.245em;
  }
  .gearthlogic-experience .proyect .content h6 {
    text-align: left;
    font-size: 20px;
  }
  .gearthlogic-experience .proyect .content p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin-left: 0;
    max-width: 400px;
  }
  .gearthlogic-experience .proyect .content .links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .gearthlogic-experience .proyect .content .links a {
    font-size: 16px;
  }
  .gearthlogic-experience .proyect .proyect-icon {
    display: none;
  }
}

@media (min-width: 1740px) {
  .gearthlogic-experience .gearth-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 60px;
  }
  .gearthlogic-experience h3 {
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.345em;
  }
  .gearthlogic-experience .mobile-side-selector {
    display: none;
  }
  .gearthlogic-experience .desktop-selector {
    width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  .gearthlogic-experience .desktop-selector .icon {
    aspect-ratio: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 6px;
  }
  .gearthlogic-experience .desktop-selector .icon.selected {
    background: linear-gradient(153.85deg, rgba(213, 95, 222, 0.68) 0%, rgba(51, 56, 214, 0.8) 100%);
    border-radius: 10px;
  }
  .gearthlogic-experience .desktop-selector .icon.selected div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f3f4f6;
    border-radius: 10px;
  }
  .gearthlogic-experience .desktop-selector .icon.selected img {
    -webkit-filter: none;
            filter: none;
  }
  .gearthlogic-experience .desktop-selector .icon img {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    width: 160px;
  }
  .gearthlogic-experience .desktop-selector .icon:hover img {
    -webkit-filter: none;
            filter: none;
    width: 180px;
  }
  .gearthlogic-experience .proyect.selected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
  .gearthlogic-experience .proyect .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 160px;
  }
  .gearthlogic-experience .proyect .content h5 {
    text-align: left;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.245em;
  }
  .gearthlogic-experience .proyect .content h6 {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
  }
  .gearthlogic-experience .proyect .content p {
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    margin-left: 0;
    max-width: 650px;
  }
  .gearthlogic-experience .proyect .content .links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .gearthlogic-experience .proyect .content .links a {
    font-size: 20px;
  }
  .gearthlogic-experience .proyect .proyect-icon {
    display: none;
  }
}

@media (min-width: 2100px) {
  .gearthlogic-experience .desktop-selector {
    padding-right: 10%;
  }
}

.previous-work-experience {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.previous-work-experience h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.345em;
  text-transform: uppercase;
  color: #ffffff;
}

.previous-work-experience article {
  margin-top: 60px;
}

.previous-work-experience article h5 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.245em;
  text-transform: uppercase;
  color: #ffffff;
}

.previous-work-experience article h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a54de;
  margin-bottom: 20px;
}

.previous-work-experience article p {
  margin: 0 auto;
  max-width: 450px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #f3f4f6;
  margin-bottom: 10px;
}

.previous-work-experience article p span {
  font-weight: bold;
}

.previous-work-experience article .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  margin-top: 30px;
  margin-left: 0;
}

.previous-work-experience article .links a {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #f3f4f6;
  margin-right: 20px;
  text-decoration: underline;
}

.previous-work-experience article .links a:hover {
  text-decoration: none;
}

.previous-work-experience article img {
  max-width: 450px;
  margin-top: 40px;
  width: 95%;
  height: 170px;
}

@media (min-width: 992px) {
  .previous-work-experience h3 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.345em;
  }
  .previous-work-experience article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .previous-work-experience article div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    margin-left: 40px;
  }
  .previous-work-experience article div h5 {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.345em;
    text-align: left;
    max-width: 100%;
  }
  .previous-work-experience article div h6 {
    text-align: left;
    font-size: 20px;
    line-height: 34px;
  }
  .previous-work-experience article div h6 br {
    display: none;
  }
  .previous-work-experience article div p {
    max-width: 400px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin: 0;
  }
  .previous-work-experience article div .links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .previous-work-experience article div .links a {
    font-size: 16px;
  }
  .previous-work-experience article div span {
    margin: 0;
    text-align: left;
    font-size: 16px;
  }
  .previous-work-experience article img {
    max-width: 50%;
    width: 50%;
    height: auto;
  }
}

@media (min-width: 1740px) {
  .previous-work-experience h3 {
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.345em;
  }
  .previous-work-experience article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .previous-work-experience article div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    margin-left: 160px;
  }
  .previous-work-experience article div h5 {
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.345em;
    text-align: left;
    max-width: 100%;
  }
  .previous-work-experience article div h6 {
    text-align: left;
    font-size: 28px;
    line-height: 34px;
  }
  .previous-work-experience article div h6 br {
    display: none;
  }
  .previous-work-experience article div p {
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    margin: 0;
  }
  .previous-work-experience article div .links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .previous-work-experience article div .links a {
    font-size: 20px;
  }
  .previous-work-experience article div span {
    margin: 0;
    text-align: left;
    font-size: 20px;
  }
  .previous-work-experience article img {
    max-width: 50%;
    width: 50%;
    height: auto;
  }
}

.contact-me {
  margin-top: 120px;
  margin-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.contact-me h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.225em;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-me h3 a {
  color: #ef4647;
  text-decoration: underline;
}

.contact-me h3 a:hover {
  text-decoration: none;
}

@media (min-width: 1740px) {
  .contact-me h3 {
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.27em;
  }
}

.about-me {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.about-me h3 {
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: #ffffff;
}

.about-me h5 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.245em;
  text-transform: uppercase;
  color: #ffffff;
}

.about-me h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8a54de;
  margin-bottom: 20px;
}

.about-me p {
  margin: 0 auto;
  max-width: 450px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #f3f4f6;
  margin-bottom: 70px;
  text-align: justify;
}

.about-me p a {
  color: #ffffff;
  font-weight: bold;
}

@media (min-width: 1740px) {
  .about-me {
    margin-top: 203px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-me h3 {
    width: 100%;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.35em;
  }
  .about-me div {
    margin-left: 160px;
    width: 50%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: left;
  }
  .about-me div h5 {
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.345em;
    font-weight: 600;
  }
  .about-me div h6 {
    font-size: 28px;
    line-height: 34px;
  }
  .about-me div p {
    max-width: 650px;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  cursor: none;
  background-color: #0c0d10;
  color: #f3f4f6;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

.working-time {
  color: #1ed760;
}

a {
  cursor: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}
/*# sourceMappingURL=index.css.map */