/*--------- Base ---------*/

@import 'colors';
@import 'fonts';
@import 'breakpoints';
@import 'cursor';

/*--------- Navigation ---------*/

@import 'navigation/nav';
@import 'navigation/footer';
@import 'navigation/side-buttons';

/*--------- Sections ---------*/

@import 'sections/header';
@import 'sections/caniya';
@import 'sections/skills';
@import 'sections/gearthlogic';
@import 'sections/previous';
@import 'sections/contact';
@import 'sections/about';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	cursor: none;
	background-color: $main-bg;
	color: $bone-text;
	font-family: $barlow-font;
	font-style: normal;
}

.working-time {
	color: $green-text;
}

a {
	cursor: none !important;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: darkgrey;
}
