/*--------- Base ---------*/

@import 'colors';
@import 'fonts';
@import 'breakpoints';

/*--------- Navigation ---------*/

@import 'navigation/nav';
@import 'navigation/footer';
@import 'navigation/side-buttons';

/*--------- Sections ---------*/

@import 'sections/header';
@import 'sections/caniya';
@import 'sections/skills';
@import 'sections/gearthlogic';
@import 'sections/previous';
@import 'sections/contact';
@import 'sections/about';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: $main-bg;
	color: $bone-text;
	font-family: $barlow-font;
	font-style: normal;
}

.working-time {
	color: $green-text;
}
